<!DOCTYPE html>
<html>
<head>
  <title>Carlos Pérez Jimeno</title>
  <meta charset="UTF-8">
  <meta name="description" content="Personal webside of Carlos Pérez Jimeno">
  <meta name="keywords" content="web, webside, cv, curriculum, Carlos Pérez Jimeno, jimeno0">
  <meta name="author" content="Carlos Pérez Jimeno">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />

  <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">

  <style type="text/css">
    a{
      color: #448AFF;
      text-decoration: none;
    }
    h2{
      color: rgb(0,150,136);
      text-align: center;
      margin-top:0px;
      padding-top: 10px;
    }

    h4 {
      margin: 0;
      margin-bottom: 5px;
      opacity: 0.5;
    }

    #aboutParag{
      text-align:right;
      padding:0%;
      color:white;
      position:absolute;
      right:15px;
      top:15px;

    }

    .prof-exp-iframe{
      width:100%;
      height:400px;
      margin:0;

    }

    @media (min-width: 480px) {
      #aboutParag{
        font-weight: 500;
        padding: 10%;
        line-height: 1.8;
      }
      .prof-exp-iframe{
        height:500px;
      }      
    }

    @media(min-width: 699px){
      .exit-navigation-btn{
        position:absolute;
        right:15px;
        top:0px;
      }
    }

  </style>

</head>
<body ng-app="MyApp" ng-controller="MyWebController as MyWC" ng-cloak>
  <md-toolbar class="md-whiteframe-6dp" layout="row" >
    
    <div class="md-toolbar-tools">
      <h1>Carlos Pérez Jimeno</h1>
      
      <md-button hide show-gt-sm ng-repeat="section in MyWC.sections" href="{{section.href}}" >{{section.name}}</md-button>
      <div flex hide-gt-sm></div>
        <md-button hide-gt-sm ng-click="MyWC.toggleSidenav()">
          <md-icon md-svg-icon="menu" aria-label="Show sections menu" ></md-icon>
        </md-button>  
      
    </div>
  </md-toolbar> 
  <md-content >
    <md-sidenav layout="column" md-component-id="right" class="md-sidenav-right md-whiteframe-4dp">
      <md-button style="text-align:right;" ng-repeat="section in MyWC.sections" href="{{section.href}}" ng-click="MyWC.toggleSidenav()" >{{section.name}}</md-button>
    </md-sidenav>

    <!-- <div id="about" style="background-image: url(svg/caraperfil.svg);margin:-20px;background-repeat:'no';"> -->
    <div id="about" style="position:relative">
      <img src="svg/perfil-apaisado-pastel.svg" style="width:100%;">
      <div >
        <p flex="100" flex-gt-sm="55" id="aboutParag">
          Web & GIS developer. Maps lover. In my freetime I love to learn new technologies and create WebApps proyects on my <a href="https://github.com/jimeno0">github</a> account. I also like to do any boardsport every now and then.
  
        </p>
      </div>
    </div>
    
    <div class="md-whiteframe-6dp" id="portfolio" class="md-padding" >
      <h2 class="md-padding">Portfolio</h2>

      <div layout="row" class="md-padding" layout-wrap layout-align="center" >
          <md-card flex="100" flex-gt-xs="45" ng-repeat="app in MyWC.portfolio">
            <md-card-header>
              <md-card-header-text>
                <span class="md-title">{{app.title}}</span>
                <span class="md-subhead">{{app.subtitle}}</span>
              </md-card-header-text>
            </md-card-header>
            <img ng-src="{{app.image}}" class="md-card-image" alt="{{app.title}}">
            <md-card-content>
              <p>
               {{app.resume}}
              </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="start center">
              <md-button class="md-accent" href="{{app.href}}">{{app.hrefText}}</md-button>
              <md-button class="md-icon-button md-accent" href="{{app.github}}" aria-label="icon">
                  <md-icon md-svg-icon="{{MyWC.icons[0].url}}"></md-icon>
                  <md-tooltip md-visible="true" md-direction="right" md-autohide="true">
                    View source code
                  </md-tooltip>
                </md-button>
            </md-card-actions>
          </md-card>
      </div>
    </div>

    <div id="profExp" style="position:relative">
      <h2>Professional experience</h2> 
      <div id="imgProfExp" >
        <img ng-src="images/profexp-plus600.png" class="md-card-image" alt="professional experience" style="width:100%" ng-click="MyWC.toggleMap()" id="imgProfExp" hide show-gt-xs>

        <img ng-src="images/profexp-less600.png" class="md-card-image" alt="professional experience" style="width:100%" ng-click="MyWC.toggleMap()" id="imgProfExp" hide-gt-xs>  
      </div>
      <div id="iframeProfExp" hide>
        <md-button class="md-raised md-warn exit-navigation-btn" ng-click="MyWC.toggleMap()" >Exit navigation</md-button>
        <iframe class="prof-exp-iframe" src="https://www.maps.arcgis.com/apps/MapTour/index.html?appid=3fbbae1e85d34431bee017870e2aa57a&embed" id="iframeProfExp"></iframe>  
      </div> 
    </div>

    <div class="md-whiteframe-6dp" id="skills">  
      <h2 class="md-padding">Skills</h2>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab ng-repeat="cat in MyWC.cats" label="{{cat.category}}">
          <md-content class="md-padding">

            <div layout="row" layout-wrap>
              <div class="md-padding" ng-repeat="item in cat.skills" flex="100" flex-gt-xs="50">
                <p>{{item.name}}</p>
                <md-progress-linear md-mode="determinate" value="{{item.knowledge}}"></md-progress-linear>
                <md-tooltip>{{item.knowledge}}%</md-tooltip>
              </div>
            </div>
          </md-content>
        </md-tab>
      </md-tabs>
    </div>

    <div id="education"  class="md-padding">
      <h2>Education</h2> 
      <div layout="row" layout-wrap layout-align="space-between" >
        <div flex="100" flex-gt-xs="45" layout="column" class="md-padding" style="text-align:right;">
          <h3>Survey engineer</h3>
          <h4>Universidad Politecnica de Madrid | 2014</h4>
          <strong>Degree's Project (9/10)</strong>
            <p>Utilización de recursos Open Data en procesos de documentación cartográfica de bajo coste sobre territorios no estructurados de interés arqueológico mediante imágenes Landsat 8: Área de Mleiha-Khor Fakkan (E.A.U). <a href="http://ocs.ebd.csic.es/index.php/AET/2015/paper/view/82/281">See article</a></p>
        </div>
        <md-divider md-inset style="margin-left:0px;"></md-divider>
        <div flex="100" flex-gt-xs="45" layout="column" class="md-padding">
          <h3>Master GIS</h3>
          <h4>Esri | 2016</h4>
          <strong>Master's Project (A+)</strong>
            <p><a href="https://www.youtube.com/embed/Hzyg60Gfl-M">GeoShare</a>, Web app to share your routes</p>
        </div>
      </div>
    </div>

    <div class="md-whiteframe-6dp md-padding" id="contact" layout-align="space-between" layout="row">
      <md-button ng-repeat="icon in MyWC.icons" class="md-fab" href="{{icon.href}}" aria-label="{{icon.name}}">
        <md-icon md-svg-icon="{{icon.url}}" ></md-icon>
      </md-button>
    </div>
  </md-content>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>

<!-- ANGULAR MATERIAL LIBS -->
<script type="text/javascript" src="bower_components/angular/angular.js" ></script>
<script type="text/javascript" src="bower_components/angular-animate/angular-animate.js" ></script>
<script type="text/javascript" src="bower_components/angular-aria/angular-aria.js" ></script>
<script type="text/javascript" src="bower_components/angular-material/angular-material.js" ></script>


<!-- MY ANGULAR APP-->
<script type="text/javascript" src="app/MyApp.js" ></script>
<script type="text/javascript" src="app/MyWebController.js" ></script>
<script type="text/javascript" src="app/MyWebConfig.js" ></script>




</body>
</html>